## Import Dependencies

In [1]:
import csv
from pathlib import Path
import pandas as pd
import glob
from datetime import datetime, timedelta
import numpy as np

## Get Freddie Mac 30 yr weekly rate

In [2]:
# import training_data via pandas module
fmac30 = pd.read_csv("download/FMAC-30US.csv", low_memory=False)

In [3]:
fmac30.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2565 entries, 0 to 2564
Data columns (total 2 columns):
Date     2565 non-null object
Value    2565 non-null float64
dtypes: float64(1), object(1)
memory usage: 40.2+ KB

In [4]:
fmac30.head()

        Date  Value
0   4/2/1971   7.33
1   4/9/1971   7.31
2  4/16/1971   7.31
3  4/23/1971   7.31
4  4/30/1971   7.29

In [5]:
fmac30['Date'] = pd.to_datetime(fmac30['Date'])

In [6]:
#fmac30 = fmac30[(fmac30['Date'] > '12/28/1999') & (fmac30['Date'] < '4/1/2019')]

In [7]:
fmac30.head()

        Date  Value
0 1971-04-02   7.33
1 1971-04-09   7.31
2 1971-04-16   7.31
3 1971-04-23   7.31
4 1971-04-30   7.29

In [8]:
fmac30.shape

(2565, 2)

In [9]:
fmac30 = fmac30.rename(columns={'Date':'origDate','Value':'fmacRate'})

In [10]:
fmac30['month_year'] = pd.to_datetime(fmac30['origDate']).dt.to_period('M')

In [11]:
fmac30.head()

    origDate  fmacRate month_year
0 1971-04-02      7.33    1971-04
1 1971-04-09      7.31    1971-04
2 1971-04-16      7.31    1971-04
3 1971-04-23      7.31    1971-04
4 1971-04-30      7.29    1971-04

In [12]:
def f(x):
    d = {}
    d['fmacRateMax'] = x['fmacRate'].max()
    d['fmacRateMin'] = x['fmacRate'].min()
    d['fmacRateAvg'] = x['fmacRate'].mean()
    d['fmacRateVolatility'] = ((x['fmacRate'].max() - x['fmacRate'].min())/(x['fmacRate'].min()))
    return pd.Series(d, index=['fmacRateMax', 'fmacRateMin', 'fmacRateAvg', 'fmacRateVolatility'])

fmac30Agg = fmac30.groupby('month_year').apply(f)

In [13]:
fmac30Agg.head()

            fmacRateMax  fmacRateMin  fmacRateAvg  fmacRateVolatility
month_year
1971-04            7.33         7.29       7.3100            0.005487
1971-05            7.46         7.38       7.4250            0.010840
1971-06            7.54         7.52       7.5300            0.002660
1971-07            7.69         7.54       7.6040            0.019894
1971-08            7.73         7.66       7.6975            0.009138

In [14]:
fmac30Agg.to_csv('data/FMAC30Agg.csv')