## Import Dependencies

In [1]:
import csv
from pathlib import Path
import pandas as pd
import glob
from datetime import datetime, timedelta
from settings import *

ModuleNotFoundError: No module named 'settings'

In [15]:
outputFileName = 'FMAcqProcessedRefi.csv'

# Get the Single-Family Loan Acquisition Data Files from Fannie Mae

From the Fannie Mae [website:](https://loanperformancedata.fanniemae.com/lppub/index.html#Single-Family_Loan_Performance_Data_Files) we downloaded the Acquisition dataset (998MB zip file)

The [Acquisition file layout](https://loanperformancedata.fanniemae.com/lppub-docs/FNMA_SF_Loan_Performance_File_layout.pdf) was as follows:
![Acquisition File Layout](images/AcquisitionFileLayoutMedium.jpg)

In [16]:
# Create mapping for the header of the files based on above file format
headerline = ['loanIdentifier','origChannel','sellerName','origIntRate','origUPB','origLoanTerm',\
         'origDate','firstPmtDate','origLTV','origCLTV','numBorrowers','origDebtIncRatio',\
         'borrCreditScore','firstTHBI','loanPurp','propType','numUnits','occType','propState',\
         'zipCode','pMIperct','prodType','coborrCreditScore','mortInsType','relocMortInd']

In [18]:
# Loop through each file from the unzipped download file - which gave a set of 76 individual files

#Create an empty array to hold dataframes to later concatonate
li = []

#Loop through every file in the directory and append into array
for in_path in Path('D:\Acquisition_All').glob('Acquisition*.txt'):
    df = pd.read_csv(in_path, sep="|", index_col=None, header=None)
    li.append(df)

#Concatonate all the array elements into one giant dataframe
df = pd.concat(li, axis=0, ignore_index=True)
df.columns = headerline

In [19]:
df.shape

(41294721, 25)

In [20]:
#Review the columns for datatypes and how many non-null values 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41294721 entries, 0 to 41294720
Data columns (total 25 columns):
loanIdentifier       int64
origChannel          object
sellerName           object
origIntRate          float64
origUPB              int64
origLoanTerm         int64
origDate             object
firstPmtDate         object
origLTV              float64
origCLTV             float64
numBorrowers         float64
origDebtIncRatio     float64
borrCreditScore      float64
firstTHBI            object
loanPurp             object
propType             object
numUnits             int64
occType              object
propState            object
zipCode              int64
pMIperct             float64
prodType             object
coborrCreditScore    float64
mortInsType          float64
relocMortInd         object
dtypes: float64(9), int64(5), object(11)
memory usage: 7.7+ GB

In [21]:
df.head()

,loanIdentifier,origChannel,sellerName,origIntRate,origUPB,origLoanTerm,origDate,firstPmtDate,origLTV,origCLTV,...,propType,numUnits,occType,propState,zipCode,pMIperct,prodType,coborrCreditScore,mortInsType,relocMortInd
0,100007365142,R,"JPMORGAN CHASE BANK, NA",8.000,75000,360,12/1999,02/2000,79.0,NaN,...,SF,1,P,PA,173,NaN,FRM,NaN,NaN,N
1,100007386460,B,"JPMORGAN CHASE BANK, NA",7.875,55000,180,01/2000,03/2000,69.0,NaN,...,CO,1,P,MD,208,NaN,FRM,NaN,NaN,N
2,100011322040,C,AMTRUST BANK,7.750,123000,360,11/1999,01/2000,80.0,NaN,...,SF,1,P,MO,630,NaN,FRM,NaN,NaN,N
3,100015192562,R,OTHER,8.500,51000,360,02/2000,04/2000,95.0,NaN,...,SF,1,P,GA,316,25.0,FRM,NaN,1.0,N
4,100015874399,C,"CITIMORTGAGE, INC.",8.750,242000,360,02/2000,04/2000,95.0,NaN,...,SF,1,P,FL,335,30.0,FRM,NaN,1.0,N

### Convert the origDate,firstPmtDate columns from strings to datetime datatypes
Since this will be such a large dataset I tested a number of methods to change datatypes

`%timeit df['origDate'] = pd.to_datetime(df['origDate'], format='%m/%Y')`  
5.43 ms ± 457 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

`%timeit df['origDate'].apply(lambda _: datetime.strptime(_,"%m/%Y"))')`  
5.48 ms ± 91.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Not much difference in speeds so I'll choose the `to_datetime` method

In [22]:
df['origDate'] = pd.to_datetime(df['origDate'], format='%m/%Y')
df['firstPmtDate'] = pd.to_datetime(df['firstPmtDate'], format='%m/%Y')

### Filter out records with values we aren't interested in examining:

Using the [Glossary](https://loanperformancedata.fanniemae.com/lppub-docs/FNMA_SF_Loan_Performance_Glossary.pdf) of column names we made the following selections:
![Property Type](images/propertyType.jpg)
* Property type: only want 'SF' - 'Single Family'

In [23]:
propTypeFilter = ['SF']
df = df[df.propType.isin(propTypeFilter)]
df.shape

(30336301, 25)

![Number of Units](images/numUnits.jpg)
* Number of Units: only want '1'

In [24]:
numUnitsFilter = [1]
df = df[df.numUnits.isin(numUnitsFilter)]
df.shape

(29308889, 25)

![Number of Units](images/occType.jpg)
* Number of Units: only want 'P'

In [25]:
occTypeFilter = ['P']
df = df[df.occType.isin(occTypeFilter)]
df.shape

(26796326, 25)

![Number of Units](images/loanPurp.jpg)
* Number of Units: only want 'C,R,U'

In [26]:
loanPurpFilter = ['C','R','U']
df = df[df.loanPurp.isin(loanPurpFilter)]
df.shape

(18820785, 25)

![Number of Units](images/origLoanTerm.jpg)
* Number of Units: only want '360'

In [27]:
origLoanTermFilter = [360]
df = df[df.origLoanTerm.isin(origLoanTermFilter)]
df.shape

(10786188, 25)

### Fill null values with 0 for the following columns
We can't have NaN or Null values for the machine learning part to come

In [28]:
df['mortInsType'] = df['mortInsType'].fillna(0)
df['pMIperct'] = df['pMIperct'].fillna(0)
df['origCLTV'] = df['origCLTV'].fillna(0)

## Calculate the 'Best', 'Worst' and 'Avg' Credit Score
Given that there is a Borrower Credit Score and a Co-Borrower Credit Score and that there are Null values for each we want to create calculated columns where no Null values exist and then drop the original columns

In [29]:
df['bestCreditScore'] = df[['borrCreditScore','coborrCreditScore']].max(axis=1)
df['worstCreditScore'] = df[['borrCreditScore','coborrCreditScore']].min(axis=1)
df['avgCreditScore'] = df[['borrCreditScore','coborrCreditScore']].mean(axis=1)

### Get rid of records where there are NaN or NULL values for:
* 'Borrower Credit Score'
* 'Debt to Income Ratio'
* 'Number of Borrowers'

In [30]:
df = df[df['borrCreditScore'].notna() &\
        df['origDebtIncRatio'].notna() &\
        df['numBorrowers'].notna()]

### Drop all columns where there is only a single value (and coborrower Credit Score)

In [31]:
df = df.drop(['prodType','firstTHBI','relocMortInd','occType','numUnits','origLoanTerm','coborrCreditScore','propType'], axis=1)

### Map text values to integers (Machine Learning will require this later)

![OrigChannel](images/origChannel.jpg)

In [32]:
df['origChannel'] = df['origChannel'].replace(['R','B','C'],[1,2,3])
df['origChannel'] = pd.to_numeric(df['origChannel'])

![Loan Purpose](images/loanPurp.jpg)

In [33]:
df['loanPurp'] = df['loanPurp'].replace(['C','R','U'],[1,2,3])
df['loanPurp'] = pd.to_numeric(df['loanPurp'])

In [34]:
df['loanPurp'].unique()

array([2, 1, 3], dtype=int64)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10535111 entries, 0 to 41294703
Data columns (total 20 columns):
loanIdentifier      int64
origChannel         int64
sellerName          object
origIntRate         float64
origUPB             int64
origDate            datetime64[ns]
firstPmtDate        datetime64[ns]
origLTV             float64
origCLTV            float64
numBorrowers        float64
origDebtIncRatio    float64
borrCreditScore     float64
loanPurp            int64
propState           object
zipCode             int64
pMIperct            float64
mortInsType         float64
bestCreditScore     float64
worstCreditScore    float64
avgCreditScore      float64
dtypes: datetime64[ns](2), float64(11), int64(5), object(2)
memory usage: 1.6+ GB

In [36]:
df.head()

,loanIdentifier,origChannel,sellerName,origIntRate,origUPB,origDate,firstPmtDate,origLTV,origCLTV,numBorrowers,origDebtIncRatio,borrCreditScore,loanPurp,propState,zipCode,pMIperct,mortInsType,bestCreditScore,worstCreditScore,avgCreditScore
0,100007365142,1,"JPMORGAN CHASE BANK, NA",8.000,75000,1999-12-01,2000-02-01,79.0,0.0,1.0,62.0,763.0,2,PA,173,0.0,0.0,763.0,763.0,763.0
25,100094030068,3,"CITIMORTGAGE, INC.",7.750,152000,1999-11-01,2000-01-01,85.0,0.0,1.0,41.0,604.0,2,NV,891,25.0,1.0,604.0,604.0,604.0
30,100118647578,2,"JPMORGAN CHASE BANK, NA",7.750,106000,1999-11-01,2000-01-01,80.0,0.0,2.0,27.0,652.0,2,OR,972,0.0,0.0,696.0,652.0,674.0
32,100122555751,1,"GMAC MORTGAGE, LLC",8.250,191000,2000-02-01,2000-04-01,78.0,0.0,1.0,52.0,676.0,1,CA,921,0.0,0.0,676.0,676.0,676.0
34,100123116925,3,"BANK OF AMERICA, N.A.",7.875,240000,1999-12-01,2000-02-01,74.0,0.0,3.0,40.0,718.0,2,CA,940,0.0,0.0,718.0,685.0,701.5

In [37]:
# Check if updated files from Fannie Mae have created duplicate entries for a given loan Identifier 
#(number should equal the number of records if there are no duplicates)
df.groupby('loanIdentifier').loanIdentifier.nunique().sum()

10535111

In [38]:
sellerNames = df['sellerName'].unique()
statesList = df['propState'].unique()
#sellerNames

In [39]:
sellerNames

array(['JPMORGAN CHASE BANK, NA', 'CITIMORTGAGE, INC.',
       'GMAC MORTGAGE, LLC', 'BANK OF AMERICA, N.A.',
       'FIRST TENNESSEE BANK NATIONAL ASSOCIATION', 'OTHER',
       'SUNTRUST MORTGAGE INC.',
       'JPMORGAN CHASE BANK, NATIONAL ASSOCIATION',
       'NETBANK FUNDING SERVICES', 'WELLS FARGO BANK, N.A.',
       'FLAGSTAR BANK, FSB', 'JP MORGAN CHASE BANK, NA', 'REGIONS BANK',
       'AMTRUST BANK', 'RBC MORTGAGE COMPANY',
       'BISHOPS GATE RESIDENTIAL MORTGAGE TRUST',
       'HARWOOD STREET FUNDING I, LLC', 'USAA FEDERAL SAVINGS BANK',
       'FLEET NATIONAL BANK', 'IRWIN MORTGAGE, CORPORATION',
       'DOWNEY SAVINGS AND LOAN ASSOCIATION, F.A.', 'PNC BANK, N.A.',
       'WITMER FUNDING, LLC', 'PROVIDENT FUNDING ASSOCIATES, L.P.',
       'PRINCIPAL RESIDENTIAL MORTGAGE CAPITAL RESOURCES, LLC',
       'CAPITAL ONE, NATIONAL ASSOCIATION', 'CHASE HOME FINANCE',
       'HSBC BANK USA, NATIONAL ASSOCIATION', 'PULTE MORTGAGE, L.L.C.',
       'FLAGSTAR CAPITAL MARKETS CORPORATION',
       'CHASE HOME FINANCE (CIE 1)', 'FREEDOM MORTGAGE CORP.',
       'GMAC MORTGAGE, LLC (USAA FEDERAL SAVINGS BANK)',
       'FDIC, RECEIVER, INDYMAC FEDERAL BANK FSB',
       'CHASE HOME FINANCE, LLC',
       'CHASE HOME FINANCE FRANKLIN AMERICAN MORTGAGE COMPANY',
       'PHH MORTGAGE CORPORATION', 'ALLY BANK', 'METLIFE BANK, NA',
       'U.S. BANK N.A.', 'NEW YORK COMMUNITY BANK', 'QUICKEN LOANS INC.',
       'NYCB MORTGAGE COMPANY, LLC', 'WELLS FARGO BANK,  NA',
       'FRANKLIN AMERICAN MORTGAGE COMPANY',
       'CHICAGO MORTGAGE SOLUTIONS DBA INTERBANK MORTGAGE COMPANY',
       'FIFTH THIRD BANK', 'HOMEWARD RESIDENTIAL, INC.', 'FREMONT BANK',
       'PENNYMAC CORP.', 'CASHCALL, INC.', 'STEARNS LENDING, LLC',
       'CHICAGO MORTGAGE SOLUTIONS DBA INTERFIRST MORTGAGE COMPANY',
       'AMERISAVE MORTGAGE CORPORATION',
       'FEDERAL HOME LOAN BANK OF CHICAGO',
       'UNITED SHORE FINANCIAL SERVICES, LLC D/B/A UNITED WHOLESALE MORTGAGE',
       'NATIONSTAR MORTGAGE, LLC', 'STONEGATE MORTGAGE CORPORATION',
       'DITECH FINANCIAL LLC', 'PACIFIC UNION FINANCIAL, LLC',
       'HOMEBRIDGE FINANCIAL SERVICES, INC.',
       'SIERRA PACIFIC MORTGAGE COMPANY, INC.', 'PROSPECT MORTGAGE, LLC',
       'LOANDEPOT.COM, LLC',
       'J.P. MORGAN MADISON AVENUE SECURITIES TRUST, SERIES 2014-1',
       'IMPAC MORTGAGE CORP.', 'SUNTRUST BANK',
       'J.P. MORGAN MADISON AVENUE SECURITIES TRUST, SERIES 2015-1',
       'GUILD MORTGAGE COMPANY', 'PMT CREDIT RISK TRANSFER TRUST 2015-2',
       'AMERIHOME MORTGAGE COMPANY, LLC', 'CALIBER HOME LOANS, INC.',
       'WELLS FARGO CREDIT RISK TRANSFER SECURITIES TRUST 2015',
       'FINANCE OF AMERICA MORTGAGE LLC', 'MOVEMENT MORTGAGE, LLC',
       'PMT CREDIT RISK TRANSFER TRUST 2016-1', 'PMTT4',
       'TRUIST BANK (FORMERLY SUNTRUST BANK)',
       'FAIRWAY INDEPENDENT MORTGAGE CORPORATION',
       'UNITED SHORE FINANCIAL SERVICES, LLC DBA UNITED WHOLESALE MORTGAGE',
       'CMG MORTGAGE, INC', 'LAKEVIEW LOAN SERVICING, LLC',
       'EAGLE HOME MORTGAGE, LLC', 'QUICKEN LOANS, LLC'], dtype=object)

In [40]:
pathparts = (DATA_DIR,outputFileName)
outpath = "/".join(pathparts)
outpath

'data/FMAcqProcessed.csv'

## Output Processed *.txt files into *.csv file

In [41]:
df.to_csv(outpath)